/* *aula11*
box model 
css grid 
flexbox 
css= caixas 
propiedades: 
margin 
border
padding

conteudo
padding 
borda 
margem  */

/* p {
    margin: 5px;
    padding: 2px;
    border: 1px solid blueviolet;
}

.in-line {
display: inline-block;
margin-top:20px
}

.block{
display: block;
} */

/* p {
    border:1px solid color black ;
} */
 

.display-block{
    display: block;
    height:200px ;
    background-color: rgb(24, 7, 41);
    border:1px solid beige
}

.display-inline{
    display: inline;
    background-color: rgb(119, 28, 211);
    border:1px solid rgb(252, 252, 9)
}

.display-inline-block{
 display: inline-block;
    background-color: rgb(245, 241, 248);
    border:1px solid rgb(9, 216, 252);
    margin-top: 30px;
}